p
{
	text-align: left;
	/*text-shadow:  2px 2px 2px black;*/
}

#wrapper{
	margin: auto;
	width:1024px;
	background-color: rgb(202,199,191);
	color:black;
	border: 3px grey groove;
	padding:10px;
}
img
{
	float: right;
	margin: 0 0 10px 10px;
	
}
creation
{
	clear:both;
}
div
{
	clear: left;
	/*border: 1px solid blue;*/
}
nav 
{
	float: left;
	width: 200px;
	border: 3px solid #8AC007;
}
clearfix
{
	overflow: auto;
}
dessous
{
	clear:both;
}
h1
{
	border: 2px double black;
	border-radius: 10px;
	text-align:center;
	width:300px;
	margin:auto;
}
body
{
	background-image:linear-gradient(white, black);
	
}
